## From: Derpimus @ Armchair

[temperature_sensor c2_mid]
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_pin: PF5
##min_temp: 0
##max_temp: 100
#gcode_id: ChMid
## sensor_type: NTC 100K beta 3950 ## original default
# sensor_type: Generic 3950
sensor_type: NTC 100K MGB18-104F39050L32
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"

sensor_pin: PF5
#min_temp: 0
#max_temp: 100
gcode_id: CMid


[temperature_sensor c1_hi]
## sensor_type: NTC 100K beta 3950 ## original default
sensor_type: Generic 3950
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"

sensor_pin: PF6
#min_temp: 0
#max_temp: 100
gcode_id: CHi


[temperature_sensor c3_lo]
## sensor_type: NTC 100K beta 3950 ## original default
sensor_type: Generic 3950
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"

sensor_pin: PF7
#max_temp: 100
gcode_id: CLo

[temperature_sensor ch_mean]
## sensor_type: NTC 100K MGB18-104F39050L32
## sensor_pin: PF5
sensor_type: temperature_combined
# sensor_list: temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
# sensor_list: temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
sensor_list: temperature_sensor c3_lo, temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
combination_method: mean
maximum_deviation: 100


[heater_generic ch]
## sensor_type: NTC 100K MGB18-104F39050L32
## sensor_pin: PF5
sensor_type: temperature_combined
# sensor_list: temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
# sensor_list: temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
sensor_list: temperature_sensor c3_lo, temperature_sensor c3_lo, temperature_sensor c2_mid, temperature_sensor c1_hi
combination_method: mean
maximum_deviation: 100   

gcode_id: C
heater_pin: PB10
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071

pwm_cycle_time: 0.01666 #1/60th second = 60hz power cycle


[multi_pin spicy_fan_pins] ### Changed for Spicy ###
pins: PD12, PD13

[controller_fan ch_fan]
pin: multi_pin:spicy_fan_pins
heater: ch
idle_timeout: 180
stepper:

[verify_heater ch]
hysteresis = 3
check_gain_time = 240
heating_gain: .1
check_gain_time:600
max_error: 500

# No using enable because it pulses fans on and off with the PTC on/off. (2 pin DC fans are not meant to be power cycled like that)

# I should note both the reverse temp fan approach I came up with that a lot of people are using and this new one bypass verify heater
# The new one might need even more wild values
# Like gain 0 if it lets you
# I just put some random shit in

# Lines 548-551 in printer.cfg can be modified for spicy name


#[temperature_sensor ch_mid]
### sensor_type: NTC 100K beta 3950 ## original default
#sensor_type: Generic 3950
##   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
##   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
##   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
##   "SliceEngineering 450", or "TDK NTCG104LH104JT1"


### Combined temperature sensor is a virtual temperature sensor based on several other sensors. This sensor can be used with extruders, heater_generic and heater beds.
# sensor_type: temperature_combined
#sensor_list:
#   Must be provided. List of sensors to combine to new "virtual"
#   sensor.
#   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
#combination_method:
#   Must be provided. Combination method used for the sensor.
#   Available options are 'max', 'min', 'mean'.
#maximum_deviation:
#   Must be provided. Maximum permissible deviation between the sensors
#   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)


