[include klicky-probe.cfg]
[include klicky-z-calibration.cfg]

[probe]
##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling

## Select the probe port by type:
## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
#pin: ~!PB7
## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
#pin: PG15
## For Octopus Pro PROBE port; NPN and PNP proximity switch types can be set by jumper
#pin: ~!PC5
#####pin: ~PC5
pin: PG11
#### pin: can0:PB6
#--------------------------------------------------------------------

#x_offset: 0
x_offset: -1.95
### y_offset: 25.0
y_offset: 24.0

#z_offset: 0

#speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
#samples: 1
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
#lift_speed:
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
#samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
#samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.

speed: 5.0
lift_speed: 8.0
samples: 5 ## was 7
samples_result: average ## was median
sample_retract_dist: 2.0
samples_tolerance: 0.07
samples_tolerance_retries: 5

[stepper_z]
endstop_pin: PG10 # use Sexbolt as virtual endstop
homing_retract_dist: 3 # beacon needs this to be set to 0

[gcode_macro CALIBRATE_Z_OFFSET]
gcode:
    CALIBRATE_Z

